@model List<DBProvider1.THELOAI>
@{
    ViewBag.Title = "CategoryManagement";
    Layout = "~/Views/MyLayout/BackEndLayout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/theme/css/table.css" rel="stylesheet" />
<link href="~/theme/css/form.css" rel="stylesheet" />
<script src="~/theme/js/table.js"></script>
<div class="table-wrapper-category">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Danh sách <b>Thể loại</b></h2></div>
            <div class="col-sm-4">
                <button type="button" id="button-popup" class="btn btn-info add-new"><i class="fa fa-plus"></i>Thêm mới</button>
            </div>
            <div class="popup">
                <div class="popup-content">
                    <h3 id="title">Thêm mới Thể Loại</h3>
                    <input type="text" id="txtMaTL" placeholder="Nhập Mã thể loại" />
                    <input type="text" id="txtTenTL" placeholder=" Nhập Tên thể loại" />
                    <div class="action">
                        <div style="display: contents;" onclick="ChangeMode()"><a href="#" class="button-add-category">Lưu lại</a></div>
                        <a href="#" class="button-cancel">Hủy</a>
                        <p id="message" style="color: red; padding:5px; border:1px solid #4cff00; display:none; width: max-content;margin-top: 15px;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Mã thể loại</th>
            <th>Tên thể loại</th>
            <th>Thao tác</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="td_@item.MaTL">
                <td id="matl">@item.MaTL</td>
                <td id="tentl">@item.TenTL</td>
                <td class="icon">
                    <div class="edit" title="Sửa" data-toggle="tooltip" onclick="PushInf('@item.MaTL','@item.TenTL')"><i class="material-icons"></i></div>
                    <div class="delete" title="Xóa" data-toggle="tooltip" onclick="DelCategory('@item.MaTL','@item.TenTL')"><i class="material-icons"></i></div>
                </td>
            </tr>
        }
    </table>
</div>
<script>
    document.getElementById("button-popup").addEventListener("click", function () {
        document.querySelector(".popup").style.display = "flex";
    })
    document.querySelector(".button-cancel").addEventListener("click", function () {
        document.querySelector(".popup").style.display = "none";
    })
    var flag = false;
    var ID = '';
    function AddNewCategory() {
        //***Thêm mới thể loại sách***
        //Kiểm tra các trường dữ liệu
        var MaTL = $('#txtMaTL').val();
        var TenTL = $('#txtTenTL').val();
        if (MaTL == '' || TenTL == '') {
            $('#message').html("Vui lòng nhập đầy đủ thông tin !").css({ 'border-color': 'red', 'color': 'red', 'display': 'block' });
            return;
        }
        else if (MaTL.length > 10) {
            $('#message').html("Mã sách không được vượt quá 10 ký tự. Vui lòng nhập lại !").css({ 'border-color': 'red', 'color': 'red', 'display': 'block' });
            return;
        }
        //Sử dụng AJAX
        var form = new FormData();
        form.append("MATL", MaTL);
        form.append("TENTL", TenTL);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'AddCategory', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_content = JSON.parse(content);
                if (json_content.Data.status == "OK") {
                    //Thêm dữ liệu lên giao diệu
                    var action = `<div class="edit" title="Sửa" data-toggle="tooltip" onclick="PushInf('${MaTL}','${TenTL}')"><i class="material-icons"></i></div><div class="delete" title="Xóa" data-toggle="tooltip" onclick="DelCategory('${MaTL}','${TenTL}')"><i class="material-icons"></i></div>`;
                    var row = `<tr id="td_${MaTL}"><td>${MaTL}</td><td>${TenTL}</td></td><td class="icon">${action}</td></tr>`;
                    $('table').append(row);
                    //Thông báo khi thêm thành công
                    $('#message').html("Thêm mới thành công !").css({ 'border-color': 'green', 'color': 'green', 'display': 'block' });
                    //Xóa trắng form
                    $('#txtMaTL').val('');
                    $('#txtTenTL').val('');
                }
                else {
                    $('#message').html(json_content).css({ 'border-color': 'red', 'color': 'red', 'display': 'block' });
                }
            }
        }
        xhr.send(form);
    }
    //***Xóa thể loại sách***
    function DelCategory(matl, tentl) {
        if (confirm('Bạn có chắc muốn xóa thể loại ' + tentl)) {
            var form = new FormData();
            form.append("MATL", matl);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'DelCategory', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var json_content = JSON.parse(content);
                    if (json_content.Data.status == "OK") {
                        //Đã xóa thành công
                        $('#td_' + matl).remove();
                        alert('Xóa thể loại sách thành công !')
                    }
                }
                else {
                    alert('Lỗi :' + json_content.Data.message)
                }
            }
        }
        xhr.send(form);
    }
    //***Cập nhật thể loại sách***
    //Mở form sửa và Đổ dữ liệu lên form để sửa
    function PushInf(MaTL, TenTL) {
        flag = true;
        document.querySelector(".popup").style.display = "flex";
        document.getElementById("txtMaTL").disabled = true;
        document.querySelector(".button-cancel").style.display = "none";
        $('#title').html('Sửa Thể Loại');
        $('#txtMaTL').val(MaTL);
        $('#txtTenTL').val(TenTL);
        ID = MaTL;
    }
    function ChangeMode() {
        if (flag) {
            SaveEditCategory();
        }
        else {
            AddNewCategory();
        }
    }
    // Lưu thay đổi dữ liệu vừa sửa
    function SaveEditCategory() {
        //Kiểm tra các trường dữ liệu
        var TenTL = $('#txtTenTL').val();
        if (TenTL == '') {
            $('#message').html("Vui lòng nhập đầy đủ thông tin !").css({ 'border-color': 'red', 'color': 'red', 'display': 'block' });
            return;
        }
        //Sử dụng AJAX
        var form = new FormData();
        form.append("MATL", ID);
        form.append("TENTL", TenTL);
        var xhr = new XMLHttpRequest();
        xhr.open('POST','EditCategory', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_content = JSON.parse(content);
                if (json_content.Data.status == "OK") {
                    //Cập nhật hiển thị lên table view
                    $('#td_' + ID + ' #tentl').html(TenTL);
                    //Thông báo khi cập nhật thành công
                    alert("Cập nhật thành công !");
                    //Xóa trắng form
                    $('#txtMaTL').val('');
                    $('#txtTenTL').val('');
                    flag = false;
                    $('#title').html('Thêm mới Thể Loại');
                    document.querySelector(".popup").style.display = "none";
                    $('.button-cancel').css({ 'display': '' });
                    document.getElementById("txtMaTL").disabled = false;
                }
                else {
                    $('#message').html(json_content).css({ 'border-color': 'red', 'color': 'red', 'display': 'block' });
                }
            }
        }
        xhr.send(form);
    }
</script>